/*Schriftimportation*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
/*Webseiten einstellungen / Standart-Einstellungen*/
*, html{
    margin: 0px;
    padding: 0px;
}
 
 
/*Allgemeine Schriftgrössen*/
p, label{
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
}
 
a{
    font-size: 14px;
    color: rgb(255, 255, 255);
}
 
a:hover{
color: red;
}

h1{
  font-family: "Lato";
  font-size: 36px;
}

h2{
font-family: "Lato";
font-size: 18px;
font-weight: 900;
 
}
/*Hintergrundfarbe*/
body{
    background-color: #FDEEDC;
}
 
/*Header*/
header{
    background-color: #FFD8A9;
}
 
/*Oberer Header*/
#upperheader{
    display: flex;
   align-items: center;
}
 
#logo{
    margin-left:40px;
    margin-top: 17px;
    cursor: pointer;
}
 
/*Ganze Suchleiste*/
#searchbar{
 
  box-shadow: 1px 1px 5px gray;  
  margin-left: 65px;
  background-color: #E38B29;
 
}
 
/*Texteingabe*/
#searchbox{
    border: none;
    width: 580px;
    height: 65px;
    background: #ffff;
    font-size:16px;
    padding-left: 8px;
     
 
/*Icon zum suchen*/
}
#searchlogo{
    position: relative;
    padding:0px 12px 0px 12px;
    top: 12px;    
}
 
/*Logos für Optionen*/
#options{
    margin-left: 120px;
   
   
}
 
#optionimages{
    display: flex;
    align-items: center;
}

/* Optionimages */
#optionimages{
  position:relative;
  left:-1.5px;
 }
 
 
 
.optionimage{
    margin-left: 37px;
   
   
}
 
/*Texte unter den Logos*/
#optiontexts{
 display: flex;
 
 
}
 
.optiontext{
    margin-left: 22px;
    margin-top: 8px;
}
 
 
 
 
/*Unterer Headerteil*/
#lowerheader{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    padding-bottom: 10px;
    margin-top: 5px;
}
 
.navelements{
 color: black;
 text-decoration:none;
 font-size: 18px;
}




.admineditbutton{
color: Red;
text-decoration:none;
font-size: 18px;
}

.admineditbutton:hover{
  color: rgb(255, 77, 77);
  text-decoration:none;
  font-size: 18px;
  }
  
  


/*---------------------------Header part ende------------------------------*/




/*---------------------------start main part----------------------------------*/






  


.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1165px; /* Passen Sie diese Größe nach Bedarf an */
  margin: 35px auto 20px; /* Zentriert den Slider und fügt oben 35px, rechts und links auto und unten 20px Abstand hinzu */
}




.mySlides img {
  display: block;
  width: 100%;
  max-height: 387px;
  object-fit: cover;
  box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.2); /* Hinzugefügte Schatten-Eigenschaft */
}


.navigation-controls {
  position: absolute;
  width: 100%;
  bottom: 10px; /* Platzierung direkt unter dem Bild */
  text-align: center; /* Zentriert die Navigationselemente */
  display: flex;
  justify-content: center; /* Zentriert die Elemente innerhalb des Containers */
  align-items: center;
}

.navigation-controls .prev, .navigation-controls .next {
  flex: 0 0 auto; /* Verhindert das Strecken der Pfeile */
}


.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 8px; /* Gibt den Punkten etwas mehr Platz */
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.active, .dot:hover {
  background-color: #FF9900; /* Orange für den aktiven Dot oder beim Hover */
}

/* Fading-Effekt */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.navigation-controls a {
  flex: 0 0 auto; /* Verhindert das Strecken der Pfeile */
  position: relative; /* Positionierung relativ zum Flex-Container */
}

.navigation-controls img {
  width: 30px; /* Beispielbreite, anpassen nach Bedarf */
  height: auto; /* Erhält das Seitenverhältnis des Bildes */
  margin: 0 10px; /* Gibt den Pfeilen etwas mehr Platz */
  filter: drop-shadow(-1px 2.5px 1px rgba(0, 0, 0, 0.5));
  position: relative; /* Damit der Schatten korrekt angewendet wird */
  top: 3px;
  cursor: pointer; /* Zeigt an, dass es sich um einen anklickbaren Bereich handelt */
}
 






/* Übergeordneter Container für den Button */
.Knopf {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Entfernt die negative Positionierung; 
     stattdessen könntest du margin oder padding der umgebenden Elemente anpassen */
}

/* Stil für den Button */
.square-button {
  background-color: #F1A661;
  border: none;
  color: rgb(0, 0, 0);
  padding: 17px 50px;
  margin-bottom: 60px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Fügt sanfte Übergänge hinzu */
  /* Runde Ecken könnten moderner wirken, aber das hängt von deinem Design ab */
  font-weight: 750;
  border: 1px solid black;

}

.square-button:hover {
  background-color: #ff9a3b;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255); /* Fügt Schatten beim Hover für mehr Tiefe hinzu */
}







/*
Dieser CSS-Code enthält Stile für die Klasse 'lato-bold-text'. Die Klasse 'lato-bold-text' wird verwendet, um fettgedruckte Schriftart, eine bestimmte Schriftgröße und eine zentrierte Ausrichtung auf den Textinhalt anzuwenden. Es fügt auch einen Abstand von 20px nach oben hinzu.

Auf Bildschirmen mit einer maximalen Breite von 768px wird die Schriftgröße auf 28px reduziert, um kleinere Mobilgeräte anzupassen.
*/

.lato-bold-text {
  font-family: 'Lato', sans-serif;
  font-weight: 900; /* Fettgedruckt */
  font-size: 38px; /* Beispielgröße */
  text-align: center; /* Zentriert den Textinhalt, falls Flexbox nicht benötigt wird */
  margin-top: 20px; /* Ersetzt position:relative und top für Abstand */
}

@media (max-width: 768px) {
  .lato-bold-text {
    font-size: 28px; /* Kleinere Schriftgröße auf Mobilgeräten */
  }
}







.packungbook {
  display: flex; /* Aktiviert Flexbox für diesen Container */
  justify-content: center; /* Zentriert die Elemente horizontal und bringt sie näher zusammen */
  align-items: center; /* Zentriert die Elemente vertikal */
  flex-wrap: wrap; /* Erlaubt den Elementen, in die nächste Zeile zu wechseln, falls der Platz nicht ausreicht */
  gap: 100px; /* Definiert den Abstand zwischen den Elementen */
  margin-bottom: 100px; /* Fügt unten etwas Platz hinzu */
}

.book {
  margin-top: 30px; /* Verringert den Außenabstand, um die Bücher näher zusammenzubringen */
  display: flex; /* Aktiviert Flexbox für jedes Buch, um Cover und Titel auszurichten */
  flex-direction: column; /* Ordnet die Kinder (Cover und Titel) vertikal an */
  align-items: center; /* Zentriert die Kinder (Cover und Titel) horizontal */
}

.book-cover {
  width: 140px; /* Breite des weißen Hintergrunds, etwas breiter als das Bild */
  height: 200px; /* Höhe des weißen Hintergrunds, etwas höher als das Bild */
  background-color: white; /* Setzt die Hintergrundfarbe auf Weiß */
  display: flex; /* Aktiviert Flexbox, um das Bild im Cover zu zentrieren */
  justify-content: center; /* Zentriert das Bild horizontal im Cover */
  align-items: center; /* Zentriert das Bild vertikal im Cover */
  padding: 10px; /* Fügt etwas Raum innerhalb des weißen Hintergrunds hinzu */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Schatten für Tiefeneffekt */
}

.book-cover img {
  width: 120px; /* Passt die Breite des Buchcovers an */
  height: 195px; /* Passt die Höhe des Buchcovers an */
}

.book-title {
  margin-top: 15px; /* Definiert den Abstand zwischen Cover und Titel */
    font-family: 'Montserrat', sans-serif; /* Verwendet die Schriftart "Montserrat" für den Titel */
  }



.circleleft {
  width: 60px; /* Anpassbare Breite des Kreises */
  height: 60px; /* Anpassbare Höhe des Kreises */
  background-color: #F1A661; /* Anpassbare Farbe des Kreises */
  border-radius: 50%; /* Macht das div zu einem Kreis */
  /* Optional: Passen Sie margin an, um den Abstand zwischen den Kreisen und den Büchern zu ändern */
}

.circleright {
  width: 60px; /* Anpassbare Breite des Kreises */
  height: 60px; /* Anpassbare Höhe des Kreises */
  background-color: #F1A661; /* Anpassbare Farbe des Kreises */
  border-radius: 50%; /* Macht das div zu einem Kreis */
  /* Optional: Passen Sie margin an, um den Abstand zwischen den Kreisen und den Büchern zu ändern */
}

/* Circleright */
.packungbook .packungbook .circleright{
  position:relative;
  right:40px;
 }
 

/* Circleleft */
.packungbook .packungbook .circleleft{
  position:relative;
  left:40px;
 }


 .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Anpassbare Breite des Kreises */
  height: 60px; /* Anpassbare Höhe des Kreises */
  background-color: #F1A661; /* Anpassbare Farbe des Kreises */
  border-radius: 50%; /* Macht das div zu einem Kreis */
  font-family: 'Odor Mean Chey', sans-serif; /* Nutzt die Schriftart "Odor Mean Chey" für die Pfeile */
  cursor: pointer;
}

.arrow {
  color: white; /* Farbe des Pfeils */
  font-size: 50px; /* Größe des Pfeilsymbols, anpassbar */
  cursor: pointer;
}







.full-width-box {
  min-height: 500px;
  background-color: #fdeedc;
  box-shadow: 0 -10px 70px 0 rgb(58, 58, 58);
  display: flex;
  flex-direction: column; /* Änderung, um die Inhalte vertikal zu stapeln */
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
}

.title-container {
  width: 100%; /* Ermöglicht dem Titel, die gesamte Breite einzunehmen */
  display: flex;
  justify-content: center; /* Zentriert den Titel horizontal */
  margin-top: 20px; /* Optionaler Abstand nach oben, anpassbar */
}

.lato-bold-text2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 38px;
  text-align: center;
  margin-top: 0; /* Entfernt den Abstand nach oben, da dieser durch den Container gesteuert wird */
}

@media (max-width: 768px) {
  .lato-bold-text2 {
    font-size: 28px; /* Kleinere Schriftgröße auf Mobilgeräten */
  }
}


.circle-container {
  display: flex;
  justify-content: space-around; /* Hält Abstände um die Kreise herum */
  align-items: center; /* Stellt sicher, dass alle Kreise auf der gleichen Höhe sind */
  margin-top: 80px; /* Fügt oben Abstand hinzu */
}
.circlebig {
  display: flex;
  flex-direction: column; /* Ändert die Flex-Richtung zu vertikal */
  align-items: center; /* Zentriert die Inhalte horizontal */
  justify-content: center; /* Optional, für vertikale Zentrierung innerhalb des Kreises, falls nötig */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFD8A9;
  margin: 0 40px; /* Horizontale Abstände zwischen den Kreisen */
  
}

.circlebig img {
  width: 50%; /* Größe des Icons anpassen */
}


.circle-text {
  margin-top: 20px; /* Abstand zwischen Icon und Text */
  text-align: center; /* Zentriert den Text unterhalb des Icons */
  font-size: 16px; /* Anpassbare Schriftgröße */
  color: #333; /* Textfarbe */
  font-family: 'Montserrat', sans-serif; /* Schriftart für den Text */
}

/* Paragraph */
.circle-container .circlebig p{
  position:relative;
  bottom:0px;
  top:70px;
 }

 /* Image */
.circle-container .circlebig img{
  position:relative;
  top:25px;
 }
 




/*---------------------------------------------mAIN PART ENDE--------------------------------------------------------*/








/* ---------------------------------------------FOOTER-------------------------------------------- */



.footer {
  background-color: #e38b29; /* Hintergrundfarbe anpassen */
  color: #ffffff; /* Textfarbe */
  padding: 40px 100px; /* Padding oben/unten, rechts/links */
  display: flex; /* Verwende Flexbox für das Layout */
  flex-wrap: wrap; /* Erlaubt den Inhalt in neue Zeilen zu gehen */
  align-items: flex-start; /* Ausrichtung der Links */
  justify-content: space-between; /* Gleichmäßiger Abstand zwischen den Abschnitten */
  font-family:'Montserrat', sans-serif; /* Schriftart anpassen */
  margin-top: 100px; /* Abstand zum Hauptinhalt */
}

.footer-section ul {
  list-style: none; /* Entfernt die Listenpunkte */
  padding: 0; /* Entfernt den Standardabstand */
}

.footer-section ul li {
  margin-bottom: 15px; /* Abstand zwischen den Listenelementen */
}

.footer-bottom {
  width: 100%; /* Footer-Bottom nimmt die volle Breite ein */
  border-top: 2px solid #000000; /* Trennlinie */
  padding-top: 20px; /* Abstand nach oben */
  text-align: center; /* Zentrierung des Inhalts */
  margin-top: 20px; /* Abstand von den Links darüber */
  font-size: 0.9em; /* Kleinere Schriftgröße */
}

.footer-bottom p {
  margin: 5px 0; /* Abstand zwischen den Paragraphen */
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stackt die Elemente in einer Spalte auf kleineren Bildschirmen */
  }

  .footer-section {
    margin-bottom: 20px; /* Abstand zwischen den Abschnitten auf kleineren Bildschirmen */
  }
}

/* --------------------------------------------- FOOTER ENDE --------------------------------------------------*/  

/* --------------------------------------------- dropdown login--------------------------------------------------*/






.dropdown-content {
  display: none;
 position: absolute;
  background-color: #FFD8A9;
right: 45px;
top: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
width: 120px;
height: auto;
padding: 15px 20px;
  z-index: 1;
  border-top: solid #000 3px;

}


.optiontext {
cursor: pointer;



}

.anmeldungbutton {

text-decoration: none;
color: white;
font-family: "Montserrat";
display: block;
text-align: center;
font-size: 16px;

}


/* --------------------------------------------- dropdown login ende--------------------------------------------------*/

#dropdownLinks {
  position: absolute; 
  background-color: #f9f9f9; 
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
  background-color: #FFD8A9;
  border-top: solid #000 3px;
  display: none; 
}

#dropdownLinks a {
  color: white;
  padding: 12px 16px;
font-family: "Montserrat";
font-weight: 300;
  text-decoration: none;
  display: block;
}

#dropdownLinks a:hover {background-color:#F1A661}